{{> head }}
{{> navbar }}

<div class="row">
  <div class="col-8">
    <h1>Iron man</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime accusantium expedita ipsum, quia inventore iste placeat enim ad impedit doloremque deserunt sunt laboriosam consequuntur suscipit quod soluta officiis corporis quisquam.
    </p>
  </div>
  <div class="col-4">
    <img class="img-thumbnail" src="assets/img/ironman.jpg" alt="">
  </div>
</div>